#search-bar-container {
  text-align: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#categories-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #003355;
}

.category-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5200;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

.category-label input {
  display: none;
}

.category-label.selected {
  background-color: #003355;
  color: #ff5200;
}

#products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: #f4f4f4;
  row-gap: 50px;
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-bottom: 20px; /* Adăugăm spațiu între elementele de sus și cele de jos */
}

.product:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-image-container {
  min-height: 200px;
  max-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

img.product-image {
  max-width: 60%;
  max-height: 60%;
  min-width: 60%;
  min-height: 60%;
  object-fit: fit;
  border-radius: 5px;
}

.product h3 {
  margin-top: 10px;
  font-size: 1.5em;
  color: #003355;
}

.product p {
  margin: 5px 0;
  color: #333;
}

.add-to-cart-button {
  background-color: #003355;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s;
}

.add-to-cart-button:hover {
  background-color: #04536c;
}

.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom:10px;
}

.quantity-control button {
  background-color: #003355;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.quantity-control input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  -moz-appearance: textfield;
}

@media (max-width: 768px) {
  #products-list {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .product-image-container {
    min-height: 150px;
    max-height: 150px;
  }
}

