#search-bar-container {
  text-align: center;
  margin-bottom: 20px;
}

#search-bar {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#categories-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  background-color: #003355;
}

.category-label {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff5200;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  user-select: none;
}

.category-label input {
  display: none;
}

.category-label.selected {
  background-color: #003355;
  color: #ff5200;
}

#products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  background-color: #f4f4f4; /* Fundal gri pentru lista de produse */
}

.product {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Ensure all product cards have the same height */
  background-color: #ffffff; /* Fundal alb pentru produsele individuale */
}

.product-image-container {
  min-height: 150px;
  max-height: 150px; /* Set a minimum height for the image container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.product h3 {
  margin-top: 10px;
  font-size: 1.2em;
}

.product p {
  margin: 5px 0;
}

.add-to-cart-button {
  background-color: #003355;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart-button:hover {
  background-color: #04536c;
}


.quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.quantity-control button {
  background-color: #003355;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 5px;
}

.quantity-control input {

  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;

  -moz-appearance: textfield;
}