/* alerts.css */
#alert-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .alert {
    background-color: #003355; /* Default red for error */
    color: #ff5100;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateY(-20px);
  }
  
  .alert-success {
    background-color: #ff5100;
    color: #160801;
  }
  
  .alert.show {
    opacity: 1;
    transform: translateY(0);
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 16px;
    line-height: 1;
    float: right;
    cursor: pointer;
  }

  .confirm-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
  }
  
  .confirm-buttons button {
    background-color: #ff5100;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .confirm-buttons button:hover {
    background-color: #04536c;
  }