#order-history-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
    margin: 0 auto; /* Center the container */
    max-width: 800px; /* Set a max width for better centering */
  }
  
  .order-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .order-item p {
    margin: 5px 0;
  }
  .orders-grid{
    width:50%;
  }
  .products-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    max-height: 150px;
    overflow-y: auto;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .product-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
  }

  #courier-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    #order-history-container {
      max-width: 95%; /* Adjust for smaller screens */
    }
  }