#courier-current-order {
    max-width: 800px;
    min-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  
  }
  
  #courier-current-order h2 {
    margin-bottom: 20px;
  }
  
  #courier-current-order p {
    margin: 5px 0;
  }
  
  #update-status-button {
    background-color: #ff5200;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #update-status-button:hover {
    background-color: #ff5200;
  }

  @media (max-width: 768px){
    #courier-current-order{
      width: 10px;
    }

  }

  @media (max-width: 460px){
    #courier-current-order{
     
      width: 10px;
    }

  }